.project-img-container {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}

.project-image {
  width: 100%;
}

.project-info {
  margin: 50px 0px;
  line-height: 2em;
}

.project-title {
  font-size: 30px;
}

.project-description {
  font-size: 20px;
}
