/* @import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/* generic styles */
body {
  font-family: "Roboto", sans-serif;
}

.bold {
  font-weight: bold;
}

.section {
  position: relative;
  height: 100vh;
}

.section--about {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section--work {
  color: black;
  flex-direction: column;
  background-color: white;
}

.section--project {
  background-color: black;
  color: white;
}

.section__title {
  margin: 50px;
  font-size: 4em;
  color: rgba(0, 0, 0, 0.3);
}

.section__title--white {
  color: rgba(255, 255, 255, 0.3);
}

.workplace-container {
  margin: 0px 50px 50px 50px;
}

.job-desc li {
  margin: 10px;
}

.project {
  height: 100px;
  width: 600px;
  margin: 50px;
  padding: 0px 20px;
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 1fr 1fr 1fr;
  border-left: 2px solid #0094ff;
}

.project__title {
  align-self: start;
  font-size: 20px;
  color: #fff;
}

.project__description {
  grid-column: 1/3;
  grid-row: 2/2;
  font-size: 16px;
  color: #9a9a9a;
  align-self: start;
}

.project__link {
  grid-row: 3/3;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  align-self: end;
  text-decoration: none;
}

.project__tech {
  grid-column: 2/2;
  grid-row: 3/3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #9a9a9a;
  font-size: 12px;
  align-self: end;
}

/* specific styles */

.about-left,
.about-right {
  width: 80%;
  margin: 50px;
}

.intro-top {
  font-size: 3em;
  font-weight: bold;
}
.intro-bottom {
  font-size: 2em;
  color: #afafaf;
}

.about-img {
  max-width: 50%;
}

@media (max-width: 700px) {
  .section--about {
    flex-direction: column;
  }
  .about-img {
    max-width: 100%;
  }
}
