:root {
  --primary-blue: #0094ff;
  --primary-blue-disabled: #0094ff22;
  --primary-black: #00243d;
  --primary-black-light: #2e495c;
  --primary-black-lighter: #667d8c;
  --primary-black-lightest: #859ba8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 100px 0px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-black);
  margin: 20px 0px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3,
h4 {
  font-size: 18px;
}

p,
li {
  color: var(--primary-black-light);
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 0px;
}

.return {
  text-decoration: none;
  margin: 20px;
  display: flex;
  align-items: center;
  color: black;
}

.svg-arrow {
  width: 16px;
  margin: 0px 15px;
}

.card {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  transition: 0.3s all;
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.hide-visually {
  position: absolute;
  left: -9999px;
}

.underline {
  position: relative;
  text-decoration: none;
  color: var(--primary-blue);
}

.underline::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--primary-blue);
  transition: all 0.5s;
}

.underline:hover::after {
  width: 100%;
}

.line-height {
  line-height: 2em;
}

.link-btn {
  color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
  border-radius: 10px;
  background: none;
  padding: 10px 25px;
  transition: 0.3s all;
}

.link-btn:hover {
  background-color: var(--primary-blue);
  color: white;
  transform: scale(1.1);
}

.disabled-btn {
  color: #00000044;
  border: 2px solid var(--primary-blue-disabled);
  border-radius: 10px;
  background: var(--primary-blue-disabled);
  padding: 10px 25px;
}

.italic {
  font-style: italic;
}

.section-intro {
  margin: 20px 0px;
  max-width: 600px;
  line-height: 150%;
}

.section-title {
  margin: 10px 0px;
}

/* 

HEADER STYLES

*/

.container {
  width: 70%;
  margin: 0 auto;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.main-heading {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.picture {
  border-radius: 10px;
  width: 300px;
  overflow: hidden;
}

.picture img {
  width: 100%;
  object-fit: cover;
}

.introduction {
  margin: 0px 50px;
  width: 600px;
}

.margin20t {
  margin: 20px 0px;
}

.icon-container {
  width: 100%;
  max-width: 600px;
  margin: 20px 0px;
  display: flex;
}

.icon-wrapper {
  padding: 5px;
  position: relative;
  margin: 0px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-blue);
  border-radius: 50%;
  transition: 0.3s all;
}

.icon-wrapper:hover {
  background-color: var(--primary-blue);
}

.icon-wrapper:hover .icon {
  color: white;
}

.icon {
  text-decoration: none;
  color: var(--primary-blue);
  transition: color 0.5s;
}

.jam {
  font-size: 20px !important; /* need to override the icon stylesheet */
}

/* 
  PROJECTS
*/

.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.project {
  padding: 20px;
  width: 400px;
  margin: 10px 20px 10px 0px;
  transition: 0.5s all;
  border-radius: 5px;
  line-height: 150%;
  text-decoration: none;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.project:hover {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.project h3 {
  margin: 0px;
}

.project p {
  margin: 10px 0px;
}

.project-technologies {
  display: flex;
}

.project-technologies p {
  margin: 0px 5px 0px 0px;
  color: var(--primary-black-lightest);
}

.project-intro {
  width: 70%;
  margin: 0 auto;
}

/* 
    SKILLS
*/

.skill {
  margin: 50px 0px;
}

.skill-list {
  display: flex;
}

.skill-list li {
  margin: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-icon {
  margin: 10px 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.tech-icon img {
  width: 25px;
}

@media (max-width: 900px) {
  section {
    padding: 50px 0px;
  }
  .container {
    width: 90%;
  }
  .main-container {
    padding: 0px;
    width: 90%;
    margin: 0 auto;
  }
  .main-heading {
    display: block;
  }
  .picture {
    width: 100%;
    margin: 20px auto;
    height: 450px;
    background-position: 50% 30%;
    image-orientation: 60deg;
  }
  .introduction {
    margin: 50px auto;
    width: 100%;
  }
  .skills-column {
    width: 100%;
    margin: 20px 0px;
  }
  .skills__experience {
    margin: 0;
  }
  .footer-links {
    width: 100%;
  }
  .project-intro {
    width: 90%;
  }
}

@media (max-width: 1050px) {
  .project {
    width: 100%;
    margin: 20px 0px;
  }
}
