html, body {
	margin: 0;
	font-family: 'Bitter', serif;
	background-image: linear-gradient(to left, #fbc2eb 0%, #a6c1ee 110%);
	color: black;
	text-align: center;
}

#main-container {
	position: relative;
	font-size: 1.2em;
	font-family: 'Work Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.center-aligned {
	flex-wrap: wrap;
	flex-direction: column;
}

a, a:active, a:visited {
	text-decoration: underline;
	color: black;
}

a:hover {
	color: grey;
}

.navbar-nav .collapse {
	text-align: center;
}

.icons {
	width: 50px;
	height: 50px;
	margin: 30px;
}

/* keyframe animations that resize and underline icons upon :hover */
.icons:hover{
	animation-name: icon-animation;
	animation-duration: .2s;
	animation-fill-mode: forwards;
}
@keyframes icon-animation{
	100%{
		width: 60px;
		height: 60px;
		border-bottom: 2px solid black;
	}
}

.class-item {
	text-align: left;
	margin-top: 20px;
}

#projects-div, #welcome-div, #about-div, #es-img {
	width: 60vw;
}


#es-img {
	margin-bottom: 2%;
	margin-top: 0;
	width: 60vw;
	border-radius: 1%;
	box-shadow: -7px 5px 2px rgba(0,0,0,0.3);
}

/* turns my square profile picture into a circle */

#profile-pic{
	border-radius: 50%;
	margin-bottom: 3%;
}

/* 
Without the code below, the projects & about div go outside of the parent div when resized. 
I'm not sure why this is, I think it's because of the flex-box that I used to center the divs vertically and horizontally.
Anyway, this is my 'brilliant' fix for it until I can come up with a more acceptable fix. 
*/

#projects-div, #about-div {
	position: absolute;
	top: 20%;
}


#portfolio-site-mockup {
	margin-top: 10%;
}

@media only screen and (max-width: 500px){
	img{
		display: none;
	}
	#portfolio-site-mockup {
		position: absolute;
	}
}
#intro 