html, body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: 'Bitter', serif;
	background-image: linear-gradient(to left, #fbc2eb 0%, #a6c1ee 110%);
	color: black;
	text-align: center;
}

#main-container {
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	font-family: 'Work Sans', sans-serif;
}

a, a:active, a:visited {
	text-decoration: underline;
	color: black;
}

a:hover {
	color: grey;
}

.navbar-nav .collapse {
	text-align: center;
}

.icons {
	width: 50px;
	height: 50px;
	margin: 30px;
}

.icons:hover{
	animation-name: icon-animation;
	animation-duration: .2s;
	animation-fill-mode: forwards;
}

@keyframes icon-animation{
	100%{
		width: 60px;
		height: 60px;
		border-bottom: 2px solid black;
	}
}

.class-item {
	text-align: left;
	margin-top: 20px;
}

#projects-div, #welcome-div, #about-div, #es-img {
	width: 60vw;
}

#es-img {
	box-shadow: -7px 5px 2px rgba(0,0,0,0.3);
	margin-bottom: 2%;
	width: 65vw;
	border-radius: 1%;
}