* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f8ff;
  font-family: system-ui, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.learn a {
  color: #006cba;
}

.return {
  margin: 20px;
  display: flex;
  align-items: center;
  color: black;
}

.svg-arrow {
  width: 16px;
  margin: 0px 15px;
}

.muted {
  color: #4f4f4f;
}

.container--margin {
  margin: 50px 0px;
}

.container {
  width: 50%;
  margin: 50px auto;
}

.header__description {
  margin: 10px 0px;
  line-height: 150%;
}

.project {
  margin: 20px 0px;
  list-style: none;
}

@media (max-width: 800px) {
  .container {
    width: 90%;
  }
}
