@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* DEFAULT STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f8ff;
  font-family: system-ui, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

h2 {
  font-size: 20px;
}

.learn a {
  color: #006cba;
}

.return {
  margin: 20px;
  display: flex;
  align-items: center;
  color: black;
}

.svg-arrow {
  width: 16px;
  margin: 0px 15px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.challenge-description {
  line-height: 150%;
  color: #606266;
  margin: 10px 0px;
}

.subtitle {
  color: #a1a5ab;
  font-size: 14px;
  margin: 5px 0px;
}

.margin {
  margin: 50px 0px;
}

@media (max-width: 800px) {
  .container {
    width: 90%;
  }
}

/* END DEFAULT STYLING */

.panel.open {
  flex: 20;
}

.flex-container {
  height: 700px;
  display: flex;
}

.panel {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  transition: all 0.5s;
}

.panel__text {
  font-size: 40px;
  color: white;
  text-shadow: 1px 2px black;
}

.panel1 {
  background: url("https://images.unsplash.com/photo-1515896769750-31548aa180ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1434&q=80");
  background-size: cover;
  background-position: center;
}

.panel2 {
  background: url("https://images.unsplash.com/photo-1505081564132-169a067802f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80");
  background-size: cover;
  background-position: center;
}

.panel3 {
  background: url("https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
  background-size: cover;
  background-position: center;
}

.panel4 {
  background: url("https://images.unsplash.com/photo-1521464302861-ce943915d1c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
  background-size: cover;
  background-position: center;
}
