@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* 

GLOBAL STYLES

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 50px 0px;
}

body {
  font-family: "Inter", sans-serif;
}

.underline {
  position: relative;
  text-decoration: none;
  color: #0094ff;
}

.underline::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #0094ff;
  transition: all 0.5s;
}

.underline:hover::after {
  width: 100%;
}

.muted {
  color: #555555;
}

.line-height {
  line-height: 2em;
}

.description__h2 {
  font-size: 25px;
}

.description__p {
  max-width: 600px;
}

/* 

HEADER STYLES

*/

.main-container {
  width: 80%;
  margin: 0 auto;
}

.main-heading {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.introduction {
  width: 600px;
}

.margin20t {
  margin: 20px 0px;
}

.svg-arrow {
  width: 20px;
  margin-right: 20px;
}

/* 

NAVBAR 

*/

.navbar {
  padding: 20px 0px;
}

.navbar ul {
  list-style-type: none;
}

.navbar a {
  display: flex;
  color: black;
  text-decoration: none;
}

/* 

FOOTER

*/

.footer {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
}

.footer-links {
  width: 350px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer-links a {
  text-decoration: none;
  color: #555555;
  transition: 0.5s all;
}

.footer-link {
  position: relative;
}

.footer-link::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition: all 0.3s;
}

.footer-link:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  section {
    padding: 50px 0px;
  }
  .main-container {
    padding: 0px;
    width: 90%;
    margin: 0 auto;
  }
  .main-heading {
    display: block;
  }
  .introduction {
    margin: 50px auto;
    width: 100%;
  }
  .footer-links {
    width: 100%;
  }
}

/* PROJECT CSS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 400px;
  color: white;
  background-color: black;
}

.pos-abs {
  position: absolute;
}

.flex-cont {
  font-size: 40px;
  min-height: 500px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-container2 {
  flex-direction: row;
}

.reveal-container {
  position: relative;
}

.reveal-box {
  z-index: 4;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  background-color: #267af2;
}

.hero-text2 {
  opacity: 0;
}
