/*

GLOBAL STYLES

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 100px 0px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-blue {
  color: #0094ff;
}

.card {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  transition: 0.3s all;
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.hide-visually {
  position: absolute;
  left: -9999px;
}

.underline {
  position: relative;
  text-decoration: none;
  color: #0094ff;
}

.underline::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #0094ff;
  transition: all 0.5s;
}

.underline:hover::after {
  width: 100%;
}

.muted {
  color: #555555;
}

.line-height {
  line-height: 2em;
}

/* 

HEADER STYLES

*/

.main-container {
  width: 80%;
  margin: 0 auto;
}

.main-heading {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.introduction {
  margin: 0px 50px;
  width: 600px;
}

.margin20t {
  margin: 20px 0px;
}

.picture {
  border-radius: 10px;
  width: 300px;
  height: 400px;
  background: url("/pictures/me2.jpeg");
  background-size: cover;
  background-position: center center;
}

.icon-container {
  width: 100%;
  max-width: 600px;
  margin: 20px 0px;
  display: flex;
}

.icon-wrapper {
  padding: 5px;
  position: relative;
  margin: 0px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0094ff;
  border-radius: 50%;
  transition: 0.3s all;
}

.icon-wrapper:hover {
  background-color: #0094ff;
}

.icon-wrapper:hover .icon {
  color: white;
}

.icon {
  text-decoration: none;
  color: #0094ff;
  transition: color 0.5s;
}

.jam {
  font-size: 20px !important; /* need to override the icon stylesheet */
}
/* 

PROJECTS 

*/

.project-container {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
}

.project {
  margin: 0px 20px 20px 0px;
  display: grid;
  grid-template-rows: 200px 1fr;
  text-decoration: none;
  overflow: hidden;
  width: 400px;
}

.project__img {
  grid-row: 1/2;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.project__info {
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  padding: 20px;
}

.project__name {
  color: #000000;
  align-self: center;
}

.project__description {
  grid-row: 2/3;
}

.project__tech {
  color: #999999;
  display: flex;
  list-style-type: none;
  grid-row: 3/4;
  align-self: center;
}

.project__tech li {
  margin: 0 10px 0 0;
}

/* SKILLS */

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skills-column {
  margin: 20px 50px 20px 0px;
}

.skills-flex {
  display: flex;
}

.skills__header {
  margin: 10px 0px;
}

.skills__experience {
  margin: 0px 20px 0px 0px;
  list-style-type: none;
}

.skills__experience li {
  margin: 20px;
  position: relative;
}

.skills__experience li::before {
  position: absolute;
  left: -20px;
  bottom: 5px;
  content: " ";
  border-radius: 50%;
  height: 5px;
  width: 5px;
  border: 2px solid #0094ff;
}

/* footer

*/

.footer {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
}

.footer-links {
  width: 350px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.footer-links a {
  text-decoration: none;
  color: #555555;
  transition: 0.5s all;
}

.footer-link {
  position: relative;
}

.footer-link::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition: all 0.3s;
}

.footer-link:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  section {
    padding: 50px 0px;
  }
  .main-container {
    padding: 0px;
    width: 90%;
    margin: 0 auto;
  }
  .main-heading {
    display: block;
  }
  .picture {
    width: 100%;
    margin: 20px auto;
    height: 450px;
    background-position: 50% 30%;
    image-orientation: 60deg;
  }
  .introduction {
    margin: 50px auto;
    width: 100%;
  }
  .skills-column {
    width: 100%;
    margin: 20px 0px;
  }
  .skills__experience {
    margin: 0;
  }
  .footer-links {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .project {
    width: 100%;
    margin: 20px 0px;
  }
}
