.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-container {
  width: 900px;
  margin: 100px auto;
}

.navbar {
  padding: 30px;
}

.intro-photo {
  max-width: 100%;
  border-radius: 10px;
}

.container {
  margin: 100px 0px;
}

.description__p {
  max-width: 100%;
}

.technology-container {
  margin: 50px 0px;
}

.screenshots-flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.screenshot {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  margin: 0px 20px 20px 0px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
  border-radius: 5px;
}

.screenshot:hover {
  transform: scale(1.05);
}

@media (max-width: 900px) {
  .main-container {
    width: 90%;
    margin: 0 auto;
  }

  .screenshot {
    width: 100%;
  }

  .skills__experience {
    list-style-type: disc;
  }

  .skills__experience li {
    margin: 20px;
  }

  .skills__experience li::before {
    border: 0px;
  }
}
