* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f8ff;
  font-family: system-ui, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.learn a {
  color: #006cba;
}

.return {
  margin: 20px;
  display: flex;
  align-items: center;
  color: black;
}

.svg-arrow {
  width: 16px;
  margin: 0px 15px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.subtitle {
  color: #a1a5ab;
  font-size: 14px;
  margin: 5px 0px;
}

.margin {
  margin: 50px 0px;
}

.line-height-150 {
  line-height: 150%;
}

.analog-clock {
  margin: 20px 0px;
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid black;
}

#hour-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 50px;
  background-color: black;
  transform-origin: 50% 0%;
}

#minute-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 90px;
  background-color: black;
  transform-origin: 50% 0%;
}

#second-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 70px;
  background-color: black;
  transform-origin: 50% 0%;
}

@media (max-width: 800px) {
  .container {
    width: 90%;
  }
}
